@model CRACKED.Dtos.ProductListDto

@using (Html.BeginForm("AgregarProductoAlCarrito", "Carrito", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="container-fluid">
            @{ // Verificar si hay un mensaje de error en ViewBag
                                var errorMessage = ViewBag.ErrorMessage as string; }

            @if (!string.IsNullOrEmpty(errorMessage))
            {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>}
            <div class="row justify-content-evenly ">
                <div class="col-4">
                    <img src="~/Content/Imagen/@Model.Products[0].Imagen" width="580" height="460" class="img-fluid" />

                </div>
                <div class="col-4">
                    <div>
                        <h2 style="color: saddlebrown; font-family: cursive; text-align: left;">@Model.Products[0].Nombre</h2>
                        <h4 style="color: black; font-family: cursive; text-align: left; ">$ @Model.Products[0].Precio</h4>
                        <label style="color: black; font-family: cursive; text-align: left; display: block; margin-top: 10px;">
                            Una deliciosa fusión entre el pastel y la clásica galleta de chispas de chocolate. Con una textura suave y esponjosa, este pastel está lleno de trozos de chocolate derretido que se derriten en la boca con cada bocado. Su sabor dulce y reconfortante, combinado con el toque crujiente de las chispas de chocolate, lo convierte en el postre perfecto para cualquier ocasión. Ideal para compartir con amigos y familiares o disfrutar solo en un momento de antojo.
                        </label>
                        <div class="js-qty__wrapper">
                            <button id="decrement" class="qty-button">-</button>
                            <input type="text" id="quantity" value="1" readonly>
                            <button id="increment" class="qty-button">+</button>
                        </div>

                        <!-- Campos Ocultos para IdProducto, Cantidad y Precio -->
                        <input type="hidden" name="productoId" value="@Model.Products[0].IdProducto" />
                        <input type="hidden" id="hiddenQuantity" name="cantidad" value="1" />
                        <input type="hidden" name="precio" value="@Model.Products[0].Precio" />
                        <input type="hidden" name="stock" value="@Model.Products[0].Stock" />
                        <input type="hidden" id="hiddenPortion" name="porcion" value="1">
                    </div>
                    <div class="row justify-content-start row-porcion">
                        <div class="col-sm-4">
                            <h5 style="color: black; font-family: cursive; text-align: left;"> Porciones:</h5>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="selectionInput" name="selectionInput" value="x4">
                        </div>
                    </div>

                    <div class="selection-wrapper">
                        <button id="Buttonx4" class="select-button" type="button">x4</button>
                        <button id="Buttonx8" class="select-button" type="button">x8</button>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="submit" value="AGREGAR AL CARRITO" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Volver a la lista", "Index", "Home")
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const incrementButton = document.getElementById("increment");
        const decrementButton = document.getElementById("decrement");
        const quantityInput = document.getElementById("quantity");
        const hiddenQuantity = document.getElementById("hiddenQuantity");

        incrementButton.addEventListener("click", function (event) {
            event.preventDefault();
            quantityInput.value = Number(quantityInput.value) + 1;
            hiddenQuantity.value = quantityInput.value;
        });

        decrementButton.addEventListener("click", function (event) {
            event.preventDefault();
            if (Number(quantityInput.value) > 1) {
                quantityInput.value = Number(quantityInput.value) - 1;
                hiddenQuantity.value = quantityInput.value;
            }
        });

        hiddenQuantity.value = quantityInput.value;

        document.getElementById("Buttonx4").addEventListener("click", (event) => {
            event.preventDefault();
            hiddenPortion.value = 4;
        });

        document.getElementById("Buttonx8").addEventListener("click", (event) => {
            event.preventDefault();
            hiddenPortion.value = 8;
        });


    });
</script>

<style>
    .btn-primary {
        padding: 10px 30px;
        font-size: 16px;
        background-color: saddlebrown;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-group {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .js-qty__wrapper {
        display: flex;
        align-items: center;
    }

    .qty-button, #quantity {
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
    }

    #quantity {
        width: 50px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ddd;
        margin: 0 5px;
    }

    .qty-button:first-of-type { /* Botón de decremento */
        border-radius: 5px 0 0 5px; /* Borde redondeado a la izquierda */
    }

    .qty-button:last-of-type { /* Botón de incremento */
        border-radius: 0 5px 5px 0; /* Borde redondeado a la derecha */
    }

    .qty-button {
        background-color: transparent;
        color: black;
        cursor: pointer;
        border: 1px solid #ddd;
    }

        .qty-button:hover {
            background-color: saddlebrown;
        }

    .selection-wrapper {
        display: flex;
        align-items: center;
    }

    .select-button, #selectionInput {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #selectionInput {
        width: 50px;
        height: 20px;
        text-align: start;
        border: none;
        background-color: transparent;
    }

        #selectionInput:focus {
            outline: none;
        }

    .select-button:first-of-type {
        border-radius: 5px 0 0 5px;
    }

    .select-button:last-of-type {
        border-radius: 0 5px 5px 0;
    }

    .select-button {
        background-color: sienna;
        color: white;
    }

        .select-button:hover {
            background-color: saddlebrown;
        }

    .row-porcion {
        height: stretch;
        width: 60%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>
