@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<div class="container-fluid">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <a href="@Url.Action("InfoUsuarios", "Admin")" class="btn img-button">
                    <img src="~/Content/Imagen/people_3239045.png" alt="Botón de imagen" class="img-fluid ">
                    <span class="img-button-text">Usuarios</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("Pedidos", "Admin")" class="btn img-button">
                    <img src="~/Content/Imagen/package.png" alt="Botón de imagen" class="img-fluid ">
                    <span class="img-button-text">Pedidos</span>
                </a>
            </div>

            <div class="col">

                <a href="@Url.Action("Productos", "Admin")" class="btn img-button">
                    <img src="~/Content/Imagen/cookies_3858837.png" alt="Botón de imagen" class="img-fluid ">
                    <span class="img-button-text">Productos</span>
                </a>
            </div>
        </div>
        <div>
            <div class="row justify-content-evenly">
                <div class="col-4">
                    <a href="@Url.Action("Reportes", "Admin")" class="btn img-button">
                        <img src="~/Content/Imagen/report_2912794.png" alt="Botón de imagen" class="img-fluid">
                        <span class="img-button-text">Reportes</span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="@Url.Action("Galletas", "User")" class="btn img-button">
                        <img src="~/Content/Imagen/statistics_1580913.png" alt="Botón de imagen" class="img-fluid">
                        <span class="img-button-text">Estadisticas</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .full-width-image {
        width: 100%; /* La imagen ocupará todo el ancho del contenedor */
        height: auto; /* Mantiene la altura proporcional original */
        object-fit: cover; /* Ajusta la imagen sin deformarla */
        opacity: 0.8;
    }

    .image-container {
        position: relative; /* Necesario para posicionar el botón dentro de la imagen */
        width: 100%; /* El contenedor tiene el mismo ancho que la pantalla */
        overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
    }

    .button-container {
        position: absolute;
        bottom: 10px; /* Coloca el botón 10px por encima de la parte inferior de la imagen */
        left: 50%; /* Centra el botón horizontalmente */
        transform: translateX(-50%); /* Asegura que el botón esté completamente centrado */
    }

    .btn-primary {
        padding: 20px 50px;
        font-size: 16px;
        background-color: #efcbab;
        color: saddlebrown;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #542b1d;
        }

    .btn-primary {
        padding: 10px 30px;
        font-size: 16px;
        background-color: saddlebrown;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .img-button {
        transition: transform 0.2s ease;
        border: groove;
        border-color: saddlebrown;
    }

        .img-button:hover {
            transform: scale(1.05); /* Efecto de agrandamiento */
        }




    .img-button-text {
        font-size: 30px; /* Tamaño del texto */
        color: #3d2306; /* Color del texto */
        font-family: 'Arial', sans-serif; /* Fuente personalizada */
        display: block; /* Hace que el texto esté en su propia línea */
    }
</style>


